@charset "UTF-8";

.info-main_box{
	width:100%;
	display:flex;
}
.info-writer_box, 
.info-input_box{
	height:400px;
	width:600px;
	border:1px solid rgba(0,0,0,0.5);
	border-radius:10px;
	margin: 20px 30px 20px 30px;
	padding: 24px;

}
.info-input_box h3{
	display:block;
	margin-bottom:60px;
}
.info-input_box div{
	width:550px;
	height:50px;
	margin-bottom:20px;
	border:none;
	border-bottom:1px solid rgba(0,0,0,0.5);
	
}

.info-input_box input{
	width:550px;
	height:50px;
	background-color: rgba(80, 79, 79, 0.904);
	border:none;
	border-bottom:1px solid rgba(0,0,0,0.5);
	padding-left: 30px;
	color:yellow;
	font-size:13px;
}
.info-input_box input:hover{
	border-bottom:2px solid yellow;
}
.info-input_box input:focus{
	outline:none;
}
table{
	width:100%;
	border-collapse:collapse;
	border:1px solid rgba(0,0,0,0.5);
}
th,td{
	padding:16px 24px;
	text-align:center;
	border-bottom: 1px dashed rgba(0,0,0,0.5);
}
table tr td{
	max-width:250px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.info-writer_head{
	border-bottom: 1px solid black;
}
