@charset "UTF-8";

body {
    margin:0;
    background-color: #504f4fe7;
}

.main-area-box{
    text-align: center;
}

/* 회원가입 헤드*/
.main-area-box_header .material-icons-outlined{
    font-size: 130px;
    display: block;
}

.material-icons-outlined a{
    color: black;
    text-decoration:none;
}
.main-area-box_header span:last-child {
    font-size: 40px;
    margin-top: 12px;
    display: block;
}

/* 회원가입 input-box */
.sign-up_input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-up_input input{
    width: 316px;
    height: 40px;
    padding-left: 15px;
    border:none;
    border-bottom: 2px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    background-color: rgba(80, 79, 79, 0.904);
    color: yellow;
    
}
.sign-up_input input:hover {
    border-bottom : 2px solid yellow;
}

.sign-up_input button {
    position: relative;
    right: -10px;
    height: 28px;
    cursor: pointer;
    border: none;
}

.sign-up_input button:hover {
    background-color: dimgray;
}

.sign-up_input input::placeholder {color:rgba(0,0,0,0.5);}

.hid_span_area {
    margin-top : 4px;
    display: block;
    color: red;
    font-size: 10px;
    position : relative;
    right : 110px;
}

/* 가입 버튼 부분 */
.main-area-box_footer button{
    width: 318px;
    height: 40px;
    margin-top : 30px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.3);
}

/* footer 영역 */
.footer-txt{
	text-align: center;
	font-size: 13px;
	color:rgba(0,0,0,0.9);
}