@charset "UTF-8";
@import url(welcomepage/welcome.css);
@import url(lostboard/lostboard.css);
@import url(sign/sign.css);
@import url(info/info.css);

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 15px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  
}
body{
	background-color: rgba(80, 79, 79, 0.904);
  	color:rgba(0,0,0,0.5);
  	width:100%;
}
body a{
	text-decoration: none;
}
hr{
	border-color:rgba(0,0,0,0.5);
	width:100%;
}

/* 여기부터 아래는 footer를 위로 못 올라오게 하기 위한 코드인데 혹시 에러나면 삭제해주세요*/
html,body {
	display: flex;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

footer {
	width: 100%;
	bottom: 0px;
}