@charset "UTF-8";

form {
	width: 850px;
	margin: auto;
}

label {
	display: inline-block;
	width: 150px;
	font-weight: bold;
	margin: 10px;
	text-align: center;
}

input {
	display: inline-block;
	width: 600px;
	height: 52px;
	border: 2px solid rgba(0,0,0,0.5);
	margin: 5px;
}

textarea {
	display: inline-block;
	width: 600px;
	height: 100px;
	border: 2px solid rgba(0,0,0,0.5);
	margin: 5px;
}

button {
	display: block;
	width: 400px;
	height: 52px;
	background-color: black;
	color: yellow;
	margin: auto;
	font-weight: bold;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 10px;
}

button:hover {
	cursor: pointer;
}

.writer-box{
	border:1px solid black;
	padding:16px;
	margin-bottom:15px;
}

.writer_c {
	display:block;
}

.writer_title {
	display: inline-block;
}

.writer_c:nth-child(2) .writer_title{
	position:relative;
	bottom:50px;
}

.writer_text {
	display: inline-block;
	vertical-align: center;
}

.mini_txt {
	color: rgb(200, 200, 200);
	font-size: small;
	padding-left: 180px;
	padding-bottom: 20px;
	padding-top: 0px;
	margin-top: 0px;
}