@charset "UTF-8";

table {
	width: 100%;
	border: none;
	display: block;
}

table tr td {
	max-width: 250px;
	min-width: 200px;
	overflow: visible;
	white-space: break-spaces;
	word-break: break-all;
}

button:hover {
	cursor: pointer;
}

.contents-main {
	width: 100%;
	display:flex;
	justify-content:center;
	padding:20px;
}

.contents-inner {
	margin: auto;
	display: flex;
	width: 100%;
}

.contents-imgarea {
	width: 800px;
	height:500px;
	margin: 0 100px 0 150px;
	display: block;
}

.contents-table {
	margin-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	display: block;
	color: yellow;
}

.table-row {
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 30px;
	max-height: 200px;
	white-space: normal;
	overflow: visible;
}

.table-titletxt {
	font-weight: bold;
	color: black;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}

.table-contxt {
	text-align: left;
	padding-right: 20px;
	min-width: 400px;
}

.button-admin {
	display: block;
	align-self: flex-end;
	visibility: hidden;
}

.button-writer {
	display: flex;
	align-self: flex-end;
	visibility: visible;
}

.buttonarea{
	display:flex;
	justify-content:flex-end;
	padding:20px;
	position:relative;
	right:140px;
	bottom:60px;
}

.mini-btn {
	width: 70px;
	height: 30px;
	display: inline-block;
	background-color: rgb(40, 40, 40);
	color: yellow;
	border: 1px solid rgb(40, 40, 40);
	border-radius: 3px;
	margin-right: 5px;
}

.form-update{
	display:flex;
}

.input-contxt{
	text-align: left;
	padding-right: 20px;
	min-width: 300px;
	height:20px;
	color:yellow;
	background-color: rgba(0, 0, 0, 0);
	border:none;
	outline:none;
}

.update-button_box{
	display:flex;
	justify-content:flex-end;
	padding:20px;
	position:relative;
	right:140px;
	bottom:60px;
}

.list-btn_box{
	position:relative;
	left:600px;
}

.list-btn{
	width: 70px;
	height: 30px;
	display: inline-block;
	background-color: rgb(230, 230, 230);
	color: black;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 3px;
	margin-right: 5px;
}

.main-btn {
	display: block;
	width: 300px;
	height: 52px;
	color: yellow;
	background-color: rgb(40, 40, 40);
	font-weight: bold;
	border-radius: 9px;
	position: relative;
	right: 20%;
	bottom: 5%;
}
